<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:if="${loginError}">
    <a>Invalid username and password.</a>
</div>
<div th:if="${param.logout}">
    <a>You have been logged out.</a>
</div>
<h1>Login page</h1>

<div th:each="token : ${tokens}">
<!--    <a th:text="${token}"></a>-->
    <a>Successful login!</a>
</div>
<div th:each="account: ${accounts}">
    <a th:text="${account}"></a>
    <a>Successful login!</a>
</div>
<form th:action="@{/login}" th:object="${user}" method="post" enctype="application/x-www-form-urlencoded">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>